@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color:  #3e3e4f;
    font-family: "Noto sans JP", sans-serif;
}
#logobar{
    background-color: #000;
}
.navbar {
    background-color: #26262c;
    border-top: 1px solid #68686b;
    border-bottom: 1px solid #68686b;
    padding: 0% 7%;
}
a.nav-link{
    color: white;
}
#content {
    background-color: #3e3e4f;
    margin-bottom: 0px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
#banner img{
    width: 100%;
}
#daily-deals{
    padding: 8px;
}
.card {
    margin: 20px;
    padding: 5px;
}
.card p{
    font-size: 16px;
    padding:0px;
    margin-bottom: 0px;
}
.card-content {
    margin: 5px 0px;
}
.left-card{
    margin-right: 40px;
}
.card-header, .card-footer a{
    font-size: 20px;
}
.card-img {
    width: 300px;
    height: 300px;
    padding: auto;
}
.card-footer .btn {
    width: 50%;
}
.card-btn-left {
    margin-right: 15px;
}
.dropdown-menu {
    width: 300px;
}
.dropdown-content{
    display: none;
    width: 100%;
}
.dropdown-content .navbar{
    padding: 8px 7%;
}
#footer {
    display: flex;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    background-color: #000;
    text-align: center;
    justify-content: center;
    color: rgb(241, 237, 237);
}
@media (max-width: 992px){
    .flex-container {
        flex-direction: column;
        align-items:center;
    }
    .navbar {
        padding: 0px;
    }
	.left-card {
		padding-right: 0px;
	}
}
