@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color:  #3e3e4f;
    font-family: "Noto sans JP", sans-serif;
}
.navbar{
    padding: 0% 7%;
}
#logobar{
    background-color: #000;
}
.navbar {
    background-color: #26262c;
    border-top: 1px solid #68686b;
    border-bottom: 1px solid #68686b;
}
a.nav-link{
    color: white;
}
#content {
    background-color: #3e3e4f;
    margin-bottom: 0px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
#banner img{
    width: 100%;
}
#daily-deals{
    padding: 8px;
}
.card {
    margin: 20px;
    padding: 5px;
}
.card p{
    font-size: 16px;
    padding:0px;
    margin-bottom: 0px;
}
.left-card{
    margin-right: 40px;
}
.card-img-top {
    max-width: 300px;
    padding: auto;
}
.dropdown-menu {
    min-width: 400px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    width: auto;
}
.dropdown:hover .dropdown-content {
    display: flex;
}
@media (max-width: 992px){
    .flex-container {
        flex-direction: column;
        align-items:center;
    }
    .navbar {
        padding: 0px;
    }
	.left-card {
		padding-right: 0px;
	}
}
