@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color: #8b8baf;
    font-family: "Noto sans JP", sans-serif;
    padding: 0% 5%;
}
a.nav-link{
    color: white;
}
#content {
    background-color: #3e3e4f;
    margin-bottom: 0px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
#banner img{
    width: 100%;
}
#daily-deals{
    padding: 8%;
}
.card {
    min-width: 400px;
    margin: 20px;
    padding: 5px;

}
.left-card{
    margin-right: 40px;
}
.card-img-top {
    width: 400px;
}
@media (max-width: 992px){
    .flex-container {
        flex-direction: column;
        align-items:center;
    }
    body {
        padding: 0px;
    }
}
