@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color: #3e3e4f;
    color: white;
    font-style: "Noto sans JP", sans-serif;
    padding: 0% 20%;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}