@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color: #3e3e4f;
    color: white;
    font-style: "Noto sans JP", sans-serif;
    padding: 0% 10%;
}

ul.topnav, ul.header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.topnav, li.header {
    float: left;
    display: block;
}
ul.topnav li.right{
    float: right;
}